// Override bulma variables here
$primary: #e9fae3;
$info: #8cb9f8;
$success: #dee8d5;
$warning: #da627d;
$danger: #da627d;
$link: #b95169;

// Import Bulma
@import "~bulma/bulma";
@import "~bulma/bulma.sass";

.pageContainer {
	position: relative;
	min-height: 100vh;
}

.contentWrapper {
	padding-left: $sidenav-width;
	padding-bottom: 0;

	@include touch {
		padding-bottom: $footer-height;
		padding-left: 0;
	}
}

// #filter-button::after {
// 	font-family: sans-serif;
// 	content: "▼";
// 	padding-left: 0.5em;
// }