// Imports
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

// Override bulma variables here
$primary: #e9fae3;
$primary-invert: findColorInvert($primary);
$primary-light: #e9fae3;
$primary-dark: #e9fae3;

$info: #8cb9f8;
$success: #dee8d5;
$warning: #da627d;
$danger: #da627d;
$link: #b95169;

$input-focus-border-color: $info;

$title-family: "Lilita One", serif;

// Import Bulma
@import "~bulma/bulma";
@import "~bulma/bulma.sass";
@import "~bulma/sass/utilities/initial-variables";
//@import "~bulma/sass/utilities/derived-variables";

@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/button";

@import "~bulma/sass/form/input-textarea";

.pageContainer {
	position: relative;
	min-height: 100vh;
}

.contentWrapper {
	padding-left: $sidenav-width;
	padding-bottom: 0;

	@include touch {
		padding-bottom: $footer-height;
		padding-left: 0;
	}
}

// #filter-button::after {
// 	font-family: sans-serif;
// 	content: "▼";
// 	padding-left: 0.5em;
// }
