@import "~bulma/sass/utilities/mixins";

$footer-height: 3.5rem;
$temp: rgb(22, 114, 132);
$footer-background-color: 22 114 132;
$sidenav-width: 15rem;

// Colors:
$primary: #c8f3ba;
$info: #b9d4fb;
$highlight: #dee8d5;
$accent: #da627d;

.text-primary {
	color: #6a788a !important;
}

.text-highlight {
	color: $highlight !important;
}

.text-accent {
	color: $accent !important;
}
