@import "~bulma/sass/utilities/mixins";

$footer-height: 3.5rem;
$temp: rgb(22, 114, 132);
$footer-background-color: 22 114 132;
$sidenav-width: 15rem;

// Colors:
$primary: #aced97;
$info: #8cb9f8;
$highlight: #dee8d5;
$accent: #da627d;

.text-primary {
	color: #6a788a !important;
}

.text-highlight {
	color: $highlight !important;
}

.text-accent {
	color: $accent !important;
}

.required {
	&::after {
		content: "*";
		color: $accent;
	}
}
