.item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	padding: 0 1rem;
	color: #f7f7f7;
	text-decoration: none;
	font-size: 1.5rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	overflow: hidden;

	&:hover {
		color: $primary;
		transition: all 0.2s ease-in-out;
	}

	span {
		font-size: 0.8rem;
	}

	&[data-is-active="true"] {
		color: $primary;
	}
}
